* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Tavolga;
    src: url("../fonts/Tavolgafree.ttf");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/GilroyBold.ttf");
}

@font-face {
    font-family: GilroyExtraBold;
    src: url("../fonts/GilroyExtraBold.ttf");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/GilroyMedium.ttf");
}

@font-face {
    font-family: GilroyRegular;
    src: url("../fonts/GilroyRegular.ttf");
}


body {
    background-color: #eba8b1;
    font-family: Tavolga, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/*HEADER*/

.header {
    padding-top: 38px;
    padding-bottom: 26px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 18px;
    text-transform: uppercase;
}

.menu__item {
    position: relative;
}

.menu__list {
    list-style: none;
    width: 314px;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    font-size: 14px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 11, 29);
}

/*.menu__link:hover {
    border-bottom: 2px solid rgb(119, 11, 29);
}*/

.menu__link:before, .menu__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    left: 25%;
    height: 2px;
    background: rgb(119, 11, 29);
    transition: all .5s ease;
}
.menu__link:hover:before, .menu__link:hover:after {
    width: 50%;
}

.menu__link:hover:before {
    transform: translateX(-50%);
}

.menu__link:hover:after {
    transform: translateX(50%);
}

/*MAIN*/

.main {
    padding-top: 127px;
    padding-bottom: 145px;
    overflow: hidden;
}

.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__info {
    max-width: 580px;
}

.main__title {
    font-size: 55px;
    line-height: 1.091;
}

.main__description {
    font-size: 18px;
    line-height: 1.389;
    width: 349px;
    margin: 59px 0 80px;
}

.btn {
    font-family: GilroyBold, sans-serif;
    color: white;
    font-size: 18px;
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    border-radius: 30px;
    border: none;
    outline: 0;
    height: 60px;
    vertical-align: middle;
    /*padding: 20px;*/
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}

.main__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__image-img {
    z-index: 1;
}

.main__image:before, .main__image:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /*z-index: -1;*/
    animation: circle-pulse 3s ease-out infinite;
    border: 1px solid #821328;
}

.main__image:after {
    animation: circle-pulse 3s ease-out .6s infinite;
}

@keyframes circle-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }

}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.main__btn {
    width: 240px;
}

/*ADVANTAGES*/

.advantages {
    background-color: #ffefef;
    color: rgb(51, 25, 7);
    padding-top: 119px;
    padding-bottom: 125px;
}

.advantages__image {
    align-self: flex-end;
}

.advantages__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.advantages__info {
    display: flex;
    flex-direction: column;
    /*margin-right: 149px;*/
}

.advantages__title {
    max-width: 475px;
    font-size: 45px;
    line-height: 1.222;
}

.advantages__description {
    font-size: 18px;
    font-family: GilroyRegular, sans-serif;
    line-height: 1.556;
    width: 397px;
    margin-top: 60px;
}

.advantages__items {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(4, 219px);
    grid-column-gap: 98px;
    /*justify-items: center;*/
}

.advantage__number {
    position: relative;
    text-align: center;
    font-size: 60px;
    font-family: GilroyExtraBold, sans-serif;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #821328;
    transition: all 0.3s;
}

.advantage__number span {
    position: absolute;
    bottom: 0;
    top: 13px;
    left: 20px;
}

.advantage:hover .advantage__number {
    color: rgb(130, 19, 40);
    background-color: #eba8b1;
}

.advantage__title {
    font-size: 20px;
    font-family: GilroyExtraBold, sans-serif;
    margin-top: 13px;
    margin-bottom: 19px;
}

.advantage__description {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    line-height: 1.333;
    height: 95px;
}


/*FLEX*/
/*

.advantages__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.advantages__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage {
    width: 219px;
}
*/

/*MACAROONS*/

.macaroons {
    padding-top: 119px;
    padding-bottom: 120px;
    display: grid;
    justify-items: center;
}

.macaroons__header {
    font-size: 45px;
    text-align: center;
    margin-bottom: 140px;
}

.macaroons__items {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(4, 263px);
    grid-column-gap: 29px;
}

.macaroon {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    /*!*width: 263px; для флекса*/
    box-sizing: border-box;
    padding: 107px 20px 25px;
    position: relative;
}

.macaroon__image {
    position: absolute;
    top: -59px;
    left: calc(50% - 96px);
}

.macaroon__image-img {
    transition: all 0.3s ease-in;
}

.macaroon__order-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.macaroon__title {
    font-size: 18px;
    text-align: center;
    /*margin: 109px 0 26px;*/
    margin-bottom: 26px;
}

.macaroon__order-info {
    font-family: GilroyRegular, sans-serif;
    font-size: 15px;
}

.macaroon__order-quantity {
    margin-bottom: 15px;
}

.order__btn {
    font-size: 16px;
    height: 50px;
    width: 130px;
}

.macaroon:hover .macaroon__image-img {
    transform: scale(1.1);
}

/*FLEX*/
/*
.macaroons__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

/*ORDER*/

.order {
    padding-top: 98px;
    padding-bottom: 120px;
    color: rgb(51, 25, 7);
    background-color: #ffefef;
    position: relative;
}

.order__image {
    position: relative;
}

.order__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order__info {
    width: 406px;
    margin-left: 161px;
}

.order__title {
    font-size: 45px;
}

.order__text {
    font-size: 18px;
    font-family: GilroyRegular, sans-serif;
    line-height: 1.556;
    margin: 41px 0 8px;
}

.order__form {
    font-family: GilroyBold, sans-serif;
    position: relative;
}

.order__form-label {
    font-size: 18px;
    color: rgb(18, 10, 6);
    margin-top: 40px;
}

.base-input {
    font-family: GilroyRegular, sans-serif;
    border: 1px solid rgb(130, 19, 40);
    border-radius: 30px;
    width: 293px;
    /*height: 59px;*/
    padding: 23px;
    font-size: 15px;
    color: rgb(73, 5, 17);
    background-color: #ffefef;
    height: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}

.base-input::placeholder {
    font-family: GilroyBold, sans-serif;
    font-size: 15px;
    color: rgb(118, 12, 34);
}

.order__btn-long {
    width: 294px;
    margin-top: 15px;
}

.order__animated-strawberry-first {
    position: absolute;
    left: -45px;
    top: -30px;
    animation: strawberry-moving 2s infinite;
}

.order__animated-strawberry-second {
    position: absolute;
    right: 20px;
    bottom: 75px;
    animation: strawberry-moving 2s infinite;
}

@keyframes strawberry-moving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/*FOOTER*/

.footer {
    background-color: #c0707c;
    padding-top: 73px;
    padding-bottom: 64px;
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
}

.footer__container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__text {
    margin-top: 14px;
}

.footer__rights {
    font-family: GilroyRegular, sans-serif;
    font-size: 12px;
    color: rgb(227, 172, 180);
}


/*FIXED PRESENT*/

.present {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.present__text-wrapper {
    padding: 14px 10px;
    border: 2px solid rgb(119, 10, 29);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(254, 239, 238);
    width: 172px;
    height: 60px;
    position: absolute;
    right: 115px;
    bottom: -100px;
    transition: all 0.8s;
    opacity: 0;
}

.present__text {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 10, 29);
    line-height: 1;
}

.present__image:hover .present__text-wrapper {
    transform: translateY(-110px);
    opacity: 1;
}

.present__image {
    border-radius: 50%;
    background-color: rgb(119, 10, 29);;
    width: 90px;
    height: 90px;
    text-align: center;
    transition: box-shadow 0.3s;
    position: relative;
}

.present__image:hover {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present__image-img {
    margin-top: 20px;
}

/*TRIANGULAR*/

.present__text-wrapper:before, .present__text-wrapper:after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 16px;
    border: 12px solid transparent;
    border-left: 12px solid rgb(119, 10, 29);
}

.present__text-wrapper:after {
    border-left: 12px solid rgb(254, 239, 238);
    right: -22px;
}

.burger {
    display: none;
}

.close{
    display: none;
}
